<div class="{{block}}__sectionblock sectionblock  ">
  <div class="step__icon">
    <div class="step__icon-content step__icon-content_{{variant}}">
        <span class="icon-{{icon}}"></span>
    </div>
    <div class="step__icon-blur step__icon-blur_{{variant}}"></div>
  </div>
  <div class="step__title">
    {{#each title}}
      <p>{{this}}</p>
    {{/each}}
  </div>
  <div class="step__text">{{text}}</div>
</div>